.carousel {
  outline: none;
  overflow: hidden;

  h3 {
    font-size: 32px;
    margin: 0 0 20px 0;
  }

  &-body {
    position: relative;
    width: 100%;
    outline: none;

    &-track {
      display: flex;
      transition: transform .3s ease-in-out;
      padding: 15px;
    }
  }
}

:host {
  width: 100%;
}
